
<div class="jumbotron" id="show_word"> 
  <div class="container">
      <div align="right">
      <% if @play_word_sound %>
        <button class="btn btn-default" type="button"> <span class="glyphicon glyphicon-volume-off fa-1x" /></button>
      <% else %>
          <button class="btn btn-default" type="button"> <span class="glyphicon glyphicon-volume-up" /></button>
      <% end %> 
      </div>

    <h1 align="center" id="word-text"><%= @user_word[:word_text] %></h1>

    <h3> Definitions: </h3>
    <ol>
    <% @pos.each do |p| %>
      <%= p.pos %> <%= p.plural %> <br>
      <% p.definitions.count.times do |i| %>
         <% definition = p.definitions[i] %>
          <li>
          <span class="definition" id=<%= "definition-#{i}" %>> <%= definition["definition"] %> </span>
          </li>
      <% end %>
    <% end %>
    </ol>

    <h3> Examples: </h3>
    <% @pos.each do |p| %>
    <% p.definitions.count.times do |i| %>
      <% definition = p.definitions[i] %>
      <% def_id = "definition-#{i}" %>  

      <ol id=<%= def_id %>-examples class="examples" style="display: none">
        <% definition["examples"].count.times do |ei| %>
          <% exp_id = def_id + "_example-#{ei}" %>
          <% a_def = definition["examples"][ei].gsub(@user_word[:word_text], "<b>#{@user_word[:word_text]}</b>") %>
          <li><span class="example" id=<%= exp_id %>> <%= a_def.html_safe %> </span></li>
        <% end %>
      </ol>
    <% end %>
    <% end %>


    <br>
    <br>
    <br>
    <%= form_for @user_word do |f| %>
    <b>Definition:</b><br>
        <%= f.text_area :definition,  :cols => 50, :rows => 5 %>
        <br>
        <br>
        <b>Example:</b><br>
        <%= f.text_area :example,  :cols => 50, :rows => 5 %>

        <div>  
        <%= f.submit "update word", :class => 'btn btn-primary' %>
        </div>
    <% end %>

    <br>

    <div>
    <%= form_for @user_word, :url => {:action => 'remove'}, method: :put do |f| %>
        <%= f.submit "remove word", :class => 'btn btn-danger' %>
    <% end  %>
    </div>
 
</div>


