<div class="jumbotron" id="show_word"> 
  <div class="container">
      <div align="right">

        <!-- DISABLE SPEAK -->
        <% if @speak %>
        <div id="disable-speak">
        <% else %>
        <div id="disable-speak" style="display: none;">
        <% end %>
          <%= link_to disable_speak_user_user_configuration_path(current_user.user_configuration), method: :post, class: "btn btn-default", remote: true do %>
            <span class="glyphicon glyphicon-volume-up fa-1x" />
          <% end %>
        </div>

        <!-- ENABLE SPEAK -->
        <% if @speak %>
        <div id="enable-speak" style="display: none;">
        <% else %>
        <div id="enable-speak">
        <% end %>
        
          <%= link_to enable_speak_user_user_configuration_path(current_user.user_configuration), method: :post, class: "btn btn-default", remote: true do %>
            <span class="glyphicon glyphicon-volume-off fa-1x" />
          <% end %>
        </div>
      </div>

    <h1 align="center" id="word-text"><%= @word_score.word[:word] %></h1>

    <p align="center" id="word-def-fr"><%= @definition_fr %> </p>
    <p align="center" id="word-def-en"><%= @definition_en %> </p>

    <br>
      <div class="row">
        <div class="col-sm-12 text-center"'>
          <%= link_to "f", level_instance_select_feminine_path(@level_instance), method: :post, class: "btn btn-primary btn-lg", remote: true %>
           &nbsp &nbsp
          <%= link_to "m", level_instance_select_masculine_path(@level_instance), method: :post, class: "btn btn-primary btn-lg", remote: true %>
      </div>
    </div>
</div>


