<div class="jumbotron">
  <div class="container">
    <h1 align="center"><%= Levels %></h1>
    <div align="center">
      <% @levels.each do |level| %>
        <%= link_to level_run_index_path(:level_id => level.id, :id => :start), :class => "btn btn-lg", :title => Level.find(level.id)[:description] do %>
          <%= image_tag("todo.png", :border => 0, :alt => '', :title => '', :size => "80x80") %>
          </br>
          <span class="level_title"><%= Level.find(level.id)[:name] %></span>
          <h3><%= Level.find(level.id)[:name] %></h3>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


