<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
        <h1 align="center"><%= @category.name %> </h1>
      </div>

     <%= link_to edit_category_path(@category), class: "btn btn-default", method: :get do %>
        <span class=" glyphicon glyphicon-edit" />
      <% end %>
     <%= link_to category_path(@category), class: "btn btn-default", method: :delete do %>
        <span class=" glyphicon glyphicon-remove" />
      <% end %>
        

      <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
      <%= link_to category_create_wrong_words_level_path(@category), :method => :post, :class => "btn btn-lg", :title => "Words you got wrong." do %>
        <%= image_tag("answer_wrong.png", :border => 0, :alt => '', :title => '', :size => "80x80", :class=>"img-responsive") %>
        <span class="level_title"><%= "Hard Words" %></span>
      <% end %>
      </div>
      </div>

      <div class="row">
      <div class="col-xs-8 col-xs-offset-2">
      <% @levels.each do |level| %>
        <%= link_to category_level_path(level.category, level), :class => "btn btn-lg", :title => Level.find(level.id)[:description] do %>
          <% if @level_completion[level.id] >= 100 %>
            <%= image_tag("complete-100.png", :border => 0, :alt => '', :title => '', :size => "80x80", :class=>"img-responsive") %>
          <% elsif @level_completion[level.id] > 75 %>
            <%= image_tag("complete-75.png", :border => 0, :alt => '', :title => '', :size => "80x80", :class=>"img-responsive") %>
          <% elsif @level_completion[level.id] > 25 %>
            <%= image_tag("complete-50.png", :border => 0, :alt => '', :title => '', :size => "80x80", :class=>"img-responsive") %>
          <% elsif @level_completion[level.id] > 0 %>
            <%= image_tag("complete-25.png", :border => 0, :alt => '', :title => '', :size => "80x80", :class=>"img-responsive") %>
          <% else %>
            <%= image_tag("complete-0.png", :border => 0, :alt => '', :title => '', :size => "80x80", :class=>"img-responsive") %>
          <% end %>
          <span class="level_title"><%= Level.find(level.id)[:name] %></span>
        <% end %>
      <% end %>
    </div>
    </div>
  </div>
</div>
