<!DOCTYPE html>
<html>
<head>
  <title>BruteGenderWeb</title>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if notice %>
 <p class="alert alert-success"><%= notice %></p>
<% end %>

<% if alert %>
 <p class="alert alert-danger"><%= alert %></p>
<% end %>

<nav class="navbar navbar-dark bg-inverse">
  <%= link_to "Brute Genre", levels_path, :class=>"navbar-brand" %>
  <ul class="nav navbar-nav">
    <li class="nav-item active">
     <% if user_signed_in? %>
        <li class="nav-item">
       <%= link_to "Log out", destroy_session_path(:user), :method => :delete %>
        </li>
     <% else %>
      <li class="nav-item">
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li class="nav-item">
        <%= link_to "Sign in", new_user_session_path %>
      </li>
   <% end %>
  </ul>
</nav>

<%= yield %>

</body>
</html>
